extends ../layouts/base

include ../mixins/feature
 
block content

  .index.view

    +feature('Lace Up', 'Hear the Stories', '#')
      p Every shoe has a story to tell—ours, with a purple lace, tells the stories of real LGBTQ people living in poverty.

    include ../modules/stories.jade
    include ../modules/sponsors.jade