extends ../layouts/base
 
block content

  .resetPassword.view


    form.reset(action="" method="post")

      h2 Reset Password

      h4 Enter the email address for your account. We'll send you an email with a link that will allow you to create a new password.

      p Email
      
      label(for="Email Address")
      input(
        type="email"
        id="register_email"
        name="Email Address"
        placeholder="Email@Email.com"
        )

      button.secondaryForm Reset Password