extends ../layouts/base

include ../mixins/feature
include ../mixins/quickDonation
 
block content

  .index.view


    +feature('who we are', 'Get Involved', '/donate')
      p We are at a crossroads—poverty and homelessness are on the rise, and a community divided is not a community. Will you join us? donate

    include ../modules/statistics.jade
    include ../modules/donation.jade
    include ../modules/socialFeed.jade
