mixin socialFeed(columns, per)

    ul.juicer-feed(class="juicer-feed" data-feed-id='proud2share' data-columns=columns data-per=per)

  noscript
    p You must have JavaScript enabled to see the social feed.