footer
  p Proud2Share is a 501(c)3 charitable organization.

  a(href="/contact-us") Contact Us
  a(href="/privacy-policy") Privacy Policy
  a(href="/site-terms") Site Terms

  hr

  p &copy; #{new Date().getFullYear()} All rights reserved