header

  h1: a(href="/") Proud2Share

  button(aria-controls="nav" aria-expanded="true") Toggle Navigation

  nav#nav

    ul

      li
        a(href="/who-we-are") Who We Are
        ul(data-section="who-we-are")
          li: a(href="/who-we-are") About P2S
          li: a(href="/news") News
          li: a(href="/partners") Partners

      li
        a(href="/the-laces-project") The Laces Project
        ul(data-section="the-lcaes-project")
          li: a(href="/stories") Stories
          li: a(href="/art-installations") Art Installations
          li: a(href="/in-their-shoes") #InTheirShoes

      li(data-section="get-involved")
        a(href="/get-involved") Get Involved
        ul
          li: a(href="/donate") Donate
          li: a(href="/events") Events
          li: a(href="/sponsors") Sponsors

      li(data-section="action")
        ul
          li: a(href="/donate") Donate
          li: a(href="/sign-in") Sign In
