header

  h1: a(href="/") Proud2Share

  nav

    .primary
      a(href="/who-we-are") Who We Are
      a(href="/the-laces-project") The Laces Project
      a(href="/get-involved") Get Involved

    .action
      a(href="/donate") Donate
      a(href="/sign-in") Sign In

    .who-we-are
      a(href="/who-we-are") About P2S
      a(href="/lgbtq-poverty") LGBTQ Poverty
      a(href="/lgbtq-community-fund") LGBTQ Community Fund
      a(href="/news") News
      a(href="/sponsors") Sponsors

    .the-laces-project
      a(href="/the-laces-project") Overview
      a(href="/stories") Stories
      a(href="/art-installations") Art Installations
      a(href="/in-their-shoes") #InTheirShoes

    .get-involved
      a(href="/get-involved") Overview
      a(href="/donate") Donate
      a(href="/events") Events
