mixin link(href)
  a(href=href class=url === href ? 'active' : '')
    block

header

  a(href="/"): h1 Proud2Share

  button(aria-controls="nav" aria-expanded="true") Toggle Navigation

  nav#nav

    ul

      li
        +link("/who-we-are") Who We Are
        ul(data-section="who-we-are")
          li: +link("/who-we-are") About P2S
          li: +link("/news") News
          li: +link("/partners") Partners

      li
        +link("/the-laces-project") The Laces Project
        ul(data-section="the-laces-project")
          li: +link("/stories") Stories
          li: +link("/art-installations") Art Installations
          li: +link("/in-their-shoes") #InTheirShoes

      li
        +link("/get-involved") Get Involved
        ul(data-section="get-involved")
          li: +link("/donate") Donate
          li: +link("/events") Events
          li: +link("/sponsors") Sponsors

      li(data-section="action")
        ul
          li: a(href="/donate").button Donate
          li: a(href="/sign-in") Sign In
