section.support
  
  form.newsletter(action="/register")
    .newsletter.content
      h3 Join the movement
      p Stay up-to-date with Proud2Share news and events.

    label(for="support_email")
    input(
      type="email"
      id="support_email"
      name="Email Address"
      placeholder="Email"
      )
    button.tertiary Sign Up

  hr

  div.social
    a.facebook(href="#")  Facebook
    a.instagram(href="#") Instagram
    a.twitter(href="#") Twitter
    a.vimeo(href="#") Vimeo
    a.youtube(href="#") Youtube