section.support

  div.social
    a(href="#") Facebook
    a(href="#") Twitter
    a(href="#") Pinterest
    a(href="#") Google Plus
    a(href="#") You Tube

  hr

  form.newsletter(action="/register")
    h3 Stay up-to-date with Proud2Share news and events.

    label(for="support_email")
    input(
      type="email"
      id="support_email"
      name="email"
      placeholder="youremail@domain.com"
      )
    button Sign Up
