* {
  box-sizing: border-box;

  &.hidden {
    display: none;
  }

  &:focus {
    outline: 2px dotted $primaryDark;
  }

}

body {
  font-family: $fontStack;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontStackHeading;
  font-weight: normal;
}

h1 {
  font-size: $fontSizeH1; 
}

h2 {
  font-size: $fontSizeH2; 
}

h3 {
  font-size: $fontSizeH3; 
}

a {
  text-decoration: none;
  color: $primaryDark;
  cursor: pointer; 

  &:hover {
    text-decoration: underline;
  }

}

button,
a.button,
input.button {
  padding: $buttonPadding;
  border: $buttonBorderWidth $buttonBorderStyle $buttonBorderColor;
  border-radius: $buttonBorderRadius;
  background-color: $buttonBackground;
  font-family: $fontStackHeading;
  font-size: $buttonFontSize;
  letter-spacing: 0.5px;
  color: $buttonTextColor;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $buttonHoverBorderColor;
    background-color: $buttonHoverBackground;
    color: $buttonHoverTextColor;
    text-decoration: none;
  }

  &[disabled],
  &.disabled {
    border-color: $buttonDisabledBorderColor;
    background-color: $buttonDisabledBackground;
    color: $buttonDisabledTextColor;
  }

  &[checked],
  &[selected],
  &.selected {
    border-color: $buttonSelectedBorderColor;
    background-color: $buttonSelectedBackground;
    color: $buttonSelectedTextColor;
  }

  &.secondary {
    border-color: $buttonSecondaryBorderColor;
    background-color: $buttonSecondaryBackground;
    color: $buttonSecondaryTextColor;

    &:hover {
      background-color: $buttonSecondaryHoverBackground;
      color: $buttonSecondaryHoverTextColor;
    }
  }

  &.secondaryForm {
    border: 2px $buttonBorderStyle $buttonSecondaryFormBorderColor;
    border-color: $buttonSecondaryFormBorderColor;
    background-color: $buttonSecondaryFormBackground;
    color: $tertiaryLight;
    &:hover {
      background-color: $buttonSecondaryFormBackgroundHover;
      color: $buttonSecondaryFormTextColor;
    }
  }

  &.tertiary {
    border-color: $buttonTertiaryBorderColor;
    background-color: $buttonTertiaryBackground;
    
    &:hover {
      border-color: $buttonTertiaryHoverBorderColor;
      background-color: $buttonTertiaryHoverBackground;
      color: $buttonTertiaryHoverTextColor;
    }

  }

  &.neutral {
    border-color: $buttonNeutralBorderColor;
    background-color: $buttonNeutralBackground;
    color: $buttonNeutralTextColor;

    &:hover {
      background-color: $buttonNeutralHoverBackground;
      color: $buttonNeutralHoverTextColor;
    }

    &[checked],
    &[selected],
    &.selected {
      background-color: $buttonNeutralSelectedBackground;
      color: $buttonNeutralSelectedTextColor;
    }

  }

  &.inverted {
    border-color: $buttonInvertedBorderColor;
    background-color: $buttonInvertedBackground;
    color: $buttonInvertedTextColor;

    &:hover {
      background-color: $buttonInvertedHoverBackground;
      color: $buttonInvertedHoverTextColor;
    }

    &[checked],
    &[selected],
    &.selected {
      background-color: $buttonInvertedSelectedBackground;
      color: $buttonInvertedSelectedTextColor;
    }

  }

}
