body > footer {
  // Add some styles
  background-color: $tertiaryDark;
  text-align: center;
  color: $secondaryLight;
  p{
    padding: 40px;
	  &:last-child{
		  text-align: left;
		  padding-bottom: 80px;
      font-size: $fontSizeSmall1;
		  @media (max-width: $breakLarge) {
		    text-align: center;
        padding: 20px 0 40px 0;
			}
		}
  }
  a{
    color: $secondaryLight;
    text-decoration: none;
    padding: 20px;
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    @media (max-width: $breakLarge) {
		  display: block;
		  margin: 0 auto;
		}
  }
  hr{
    margin: 30px;
  }
}