body > header {
  padding: 15px 20px 10px 20px;
  width: 100%;
  height: 60px;
  background: black;

  @media (min-width: $breakLarge) {
    padding: 20px 40px 15px 40px;
    height: 80px;
  }

  h1 {
    width: 30px;
    height: 35px;
    overflow: hidden;
    background-image: $logoWhiteCompact;
    background-size: cover;
    text-indent: -1000%;

    @media (min-width: $breakLarge) {
      width: 140px;
      height: 40px;
      background-image: $logoWhite;
    }

  }

  nav {
    
  }

}