body > .support {
  // Add some styles
  background-color: $secondaryDark;
  font-family: $fontStackHeading;
  padding: 50px 0;
    .newsletter {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 40px;
      .content {
        display: block;
        h3, p {
          color: $secondaryLight;
          margin: 10px;
       }
      }
      @media (max-width: $breakLarge) {
        display: block;
        text-align: center;
      }
      button {
        background-color: $tertiaryLight;
        border-color: $buttonTertiaryBorderColor;
        text-transform: uppercase;
        font-family: $fontStackHeading;
        width: 120px;
        height: 40px;
        letter-spacing: 0.5px;
        font-size: 16px;
        &:hover, &:focus{
          background-color: $buttonTertiaryHoverBackground;
          border: $buttonBorderWidth $buttonBorderStyle $buttonTertiaryHoverBackground;
        }
      }
      #support_email {
        width: 370px;
        height: 40px;
        text-align: center;
        margin: 0 20px;
        background-color: #d7d7d7;
        border-radius: $buttonBorderRadius;
        border: none;
        @media (max-width: $breakLarge) {
          display: block;
          text-align: center;
          margin: 20px 0;
          width: 100%;
        }
      }
    }
  .social {
    text-align: center;
    padding: 20px;
  	a{
  	  padding: 10px;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      display: inline-block;
      text-indent: -9999px;
      overflow: hidden;
      margin: 0 15px;
  	}
  }
  .facebook {
    background-image: $facebook;
  }
  .twitter {
    background-image: $twitter;
  }
  .instagram {
    background-image: $instagram;
  }
  .vimeo {
    background-image: $vimeo;
  }
  .youtube {
    background-image: $youtube;
  }
  hr {
    margin: 30px 10px;
  }
}