// Colors
$primaryDark: #530670;
$primaryLight: #8400b7;
$secondaryDark: #6f737b;
$secondaryLight: #eee;
$tertiaryDark: #000;
$tertiaryLight: #00adee;

// Typography
$fontImport: 'https://fonts.googleapis.com/css?family=Raleway:700';
$fontStack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontStackHeading: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSize: 18px;
$fontWeight: normal;
$lineHeight: 1.33em;
$fontSizeH1: 3.14em; // ~60px
$fontSizeH2: 2.14em; // ~40px
$fontSizeH3: 1.43em; // ~28px