include ../mixins/quickDonation

section.module.donation

  //- Donations will be processed by The Groundwork
  //- https://cdn.thegroundwork.com/groundworkjs/doc/class/src/Donation.js~Donation.html

  h2 Swap a lace, change a life

  p Donate and change your lace to help raise awarenewss about LGBTQ poverty.

  noscript
    p You must have JavaScript enabled to donate.

  +quickDonation([5,15,25,100])

  .donation.laces