section.module.newsAndEvents

  //- Events will be loaded dynamically from The Groundwork
  //- https://cdn.thegroundwork.com/groundworkjs/doc/class/src/Event.js~Event.html

  h2 News &amp; Events

  noscript
    p You must have JavaScript enabled to see events.

  p.loading Events loading

  a.button(href="/news")