section.module.socialFeed

	//- Hash tag aggregator is TBD

	h2 Join the Movement
	p Sign up, donate, spread the word. There are many ways to help end LGBTQ poverty.
		ul.juicer-feed(class="juicer-feed" data-feed-id='proud2share' data-columns='4' data-per='10')

	noscript
		p You must have JavaScript enabled to see the social feed.

	p.loading Images loading