include ../mixins/statistics

+statistics(
  [
    {
      "label": "Homelessness",
      "copy": "640,000 LGBTQ youth experience homelessness each year.",
      "url": "statistics_640k.svg"
    },
    {
      "label": "Hunger",
      "copy": "2.4 million people—30% of our community—did not have enough money to feed themselves or their family in the last year.",
      "url": "statistics_30percent.svg"
    },
    {
      "label": "Transgender",
      "copy": "Transgender people are 4x as likely to earn less than $10,000 /year.",
      "url": "statistics_downArrow10k.svg"
    }
  ]
)
