section.module.feature {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  font-family: $fontStackHeading;
    @media (max-width: $breakLarge) {
      background-size: 980px;
      background-position: top right;
  }
  &.lace.Up{
  	background-image: $indexBgImg;
  }
  &.who.we.are{
    background-image: url("../img/feature_bg_who_we_are.jpg");
  }
	h1, p {
	  color: $secondaryLight;
		text-align: center;
  }
  h1 {
    padding: 100px 0 45px 0;
    text-transform: uppercase;
  }
  p {
    width: 80%;
    margin: 0 auto;
    padding: 0 50px 50px 50px;
  }
  a.button {
    width: 200px;
    margin: 0 auto;
  }
}
