.socialFeed.module {
  padding: 50px 60px;
  color: $textSecondaryDark;

  h2{
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 30px;

  }
  p{
    margin-bottom: 50px;
    text-align: center; 
  }
  .j-paginate.juicer-button {
    padding: $buttonPadding;
    border: $buttonBorderWidth $buttonBorderStyle $buttonBorderColor;
    border-radius: $buttonBorderRadius;
    background-color: $buttonBackground;
    color: $buttonTextColor;
    cursor: pointer;
    font-size: 18px;
  }

}