.socialFeed.module {
  padding: 40px 60px;
  h2{
    margin-bottom: 40px;
    text-align: center;
  }
  p{
    margin-bottom: 40px;
    text-align: center; 
  }
  .j-paginate.juicer-button {
    @extend .button;
  }

}