.statistics.module {
	background-color: $primaryDark;
	color: $secondaryLight;
	padding: 40px 100px;

	h2{
		text-align: center;
		margin-bottom: 40px;
	}
	.button{
		margin: 0 auto;
		text-align: center;
		display: inline-block;
	}
  .container{
  	// justify-content: space-around;
  	// align-items: center;
  	// flex-flow: row wrap;
  	list-style: none;
  	text-align: center;

  	  
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  
	  -webkit-flex-flow: row wrap;
	  justify-content: space-around;
		margin-bottom: 40px;
		
  	.statistic{
  		flex-basis: 30%;
  		// width: 30%;
  		display: inline-block;
  		img{
  			width: 200px;
  			margin-bottom: 45px;
  		}
  	}
  }
}